/*
 * ------------------------------------------------------
 *  Custom eddie (singularity/apptainer) config file
 * ------------------------------------------------------
 */

// New parameters specific to customize eddie behaviour
params {
  config_profile_description = 'University of Edinburgh (eddie) cluster profile using anaconda tweaked by nf-core/configs.'
  config_profile_contact = 'Andrea Talenti (@RenzoTale88)'
  config_profile_url = 'https://www.ed.ac.uk/information-services/research-support/research-computing/ecdf/high-performance-computing'// Add parameter to specify extra flags for eddie
  extra_cluster_options = ""
  enable_conda = false
  cache_dir = null
  max_memory = 2048.GB
  max_cpus = 64
  max_time = 240.h
  scratch = false
  queue_size = 100
  rl9 = true
  project = "uoe_baseline"
}


// Eddie executor and queue size (avoid oversubmitting jobs)
executor {
  name = "sge"
  queueSize = params.queue_size
  submitRateLimit = '5sec'
}

process {
  // Eddie queue stuff
  clusterOptions = { task.memory ? "-l h_vmem=${task.memory.bytes/task.cpus} -R y -l rl9=${params.rl9} -P ${params.project} ${params.extra_cluster_options}" : "-R y -l rl9=${params.rl9} -P ${params.project ?: ''} ${params.extra_cluster_options}" }
  scratch = params.scratch
  penv = { task.cpus > 1 ? "sharedmem" : null }

  // common SGE error statuses
  errorStrategy = {task.exitStatus in [143,137,104,134,139,140,151,255] ? 'retry' : 'finish'}
  maxErrors = '-1'
  maxRetries = 3
 
  // Before script statements
  beforeScript =
    """
    . /etc/profile.d/modules.sh
    module load singularity
    export SINGULARITY_TMPDIR="\$TMPDIR"
    """

  // More specific job stuff
  withLabel: small{
    cpus = 1
    memory = { 16.GB * task.attempt }
    time = {6.h * task.attempt }
  }
  withLabel: medium{
    cpus = 1
    memory = { 24.GB * task.attempt }
    time = { 12.h * task.attempt }
  }
  withLabel: medium_smallmem_parallel{
    cpus = 2
    memory = { 24.GB * task.attempt }
    time = { 12.h * task.attempt }
  }
  withLabel: medium_mem{
    cpus = 4
    memory = { 64.GB * task.attempt }
    time = { 12.h * task.attempt }
  }
  withLabel: medium_largemem{
    cpus = 4
    memory = { 128.GB * task.attempt }
    time = { 12.h * task.attempt }
  }
  withLabel: medium_vlargemem{
    cpus = 4
    memory = { 512.GB * task.attempt }
    time = { 12.h * task.attempt }
  }
  withLabel: medium_multi{
    cpus = 4
    memory = { 64.GB * task.attempt }
    time = { 12.h * task.attempt }
  }
  withLabel: large_onecore{
    cpus = 1
    memory = { 256.GB * task.attempt }
    time = { 23.h * task.attempt }
  }
  withLabel: large{
    cpus = 4
    memory = { 128.GB * task.attempt }
    time = { 23.h * task.attempt }
  }
  withLabel: large_largemem{
    cpus = 4
    memory = { 384.GB * task.attempt }
    time = { 23.h * task.attempt }
  }
  withLabel: large_smallmem{
    cpus = 8
    memory = { 32.GB * task.attempt }
    time = { 47.h * task.attempt }
  }
  withLabel: large_multimem{
    cpus = 8
    memory = { 64.GB * task.attempt }
    time = { 47.h * task.attempt }
  }
  withLabel: large_long_smallmem{
    cpus = 32
    memory = { 128.GB * task.attempt }
    time = { 200.h * task.attempt }
  }
  withLabel: largemem{
    cpus = 1
    memory = { 64.GB * task.attempt }
    time = { 23.h * task.attempt }
  }
  withLabel: longmem{
    cpus = 1
    memory = { 64.GB * task.attempt }
    time = { 96.h * task.attempt }
  }

}

env {
  MALLOC_ARENA_MAX=1
  //JOBLIB_TEMP_FOLDER="${PWD}"
}

// Define singularity scope
singularity.enabled = true
singularity.cacheDir = params.cache_dir ?: null
singularity.autoMounts = true
singularity.envWhitelist = "SINGULARITY_TMPDIR,TMPDIR,CUDA_VISIBLE_DEVICES"
singularity.runOptions = '-p -B "$TMPDIR"'
