/*
 * ------------------------------------------------------
 *  Custom eddie (anaconda) config file
 * ------------------------------------------------------
 */

// New parameters specific to customize eddie behaviour
params {
  config_profile_description = 'University of Edinburgh (eddie) cluster profile using anaconda tweaked by nf-core/configs.'
  config_profile_contact = 'Andrea Talenti (@RenzoTale88)'
  config_profile_url = 'https://www.ed.ac.uk/information-services/research-support/research-computing/ecdf/high-performance-computing'// Add parameter to specify extra flags for eddie
  extra_cluster_options = ""   
  enable_conda = true
  cache_dir = null
  max_memory = 2048.GB
  max_cpus = 64
  max_time = 240.h
  scratch = false
  rl9 = true
  project = "uoe_baseline"
  queue_size = 25
}


// Eddie executor and queue size (avoid oversubmitting jobs)
executor {
  name = "sge"
  queueSize = params.queue_size
  submitRateLimit = '5sec'
}
 
process {
  // Eddie queue stuff
  clusterOptions = { task.memory ? "-l h_vmem=${task.memory.bytes/task.cpus} -R y -l rl9=${params.rl9} -P ${params.project} ${params.extra_cluster_options}" : "-R y -l rl9=${params.rl9} -P ${params.project ?: ''} ${params.extra_cluster_options}" }
  scratch = params.scratch
  penv = { task.cpus > 1 ? "sharedmem" : null }

  // common SGE error statuses
  errorStrategy = {task.exitStatus in [143,137,104,134,139,140,151,255] ? 'retry' : 'finish'}
  maxErrors = '-1'
  maxRetries = 3
 
  // Before script statements
  beforeScript = """
    . /etc/profile.d/modules.sh
    module load anaconda/2024.02
    """
}

env {
  MALLOC_ARENA_MAX=1
}
