params {    
    infile = "file.vcf.gz"
    ftype = 'bed'
    spp = 'cow'
    bootstrap = 10
    nk = 10
    clumpp_greed = 3
    outfolder = "${baseDir}/OUTPUT"
    allowExtrChr = '--allow-extra-chr'
    setHHmiss = '--set-hh-missing'
    moreplinkopt = ''
    subset = 1000000
    prune = true
    prune_params = "500 5 0.5"
    help = false
}
//mutation rate is suitable for goat (see https://advances.sciencemag.org/content/6/21/eaaz5216)